<div class="row">
    <div class="col-md-6 offset-md-3">
        <Br />
        <h2 class="text-center">Profile</h2>
        <Br />
        <table class="table table-dark">
            <tr>
                <td>Full Name</td>
                <td><%= data.name %></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><%= data.age %></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><%= data.gender %></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><%= data.address %></td>
            </tr>
            <tr>
                <td>City</td>
                <td><%= data.city %></td>
            </tr>
            <tr>
                <td>Fees</td>
                <td><%= data.fees %></td>
            </tr>
        </table>
    </div>
</div>