<a href="/" class="btn btn-info">Record</a>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <br />
        <h2>Registration Page</h2>
        <br />
        <form action="/page/save" method="post">
            <div class="form-group">
                <label>Event</label>
                <input type="text" class="form-control" name="event" />
            </div>
            <br />
            <input type="submit" value="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <Br />
        <h2>List of All Student</h2>
        <Br />
        <table class="table table-dark table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Event</th>
                <th>Delete</th>

            </tr>
            <% data.forEach((x, n)=>{ %>
                <tr>
                    <td>
                        <%= n+1 %>
                    </td>
                    <td>
                        <%= x.event %>
                    </td>
                    <!-- <td><%= x.age %></td>
                    <td><%= x.fee %></td> -->
                    <td><a href="/page/delete/<%= x._id%>" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                <% }) %>

        </table>
    </div>
</div>