<div class="row">
    <div class="col-md-4 offset-md-4">
        <br />
        <h2>Profile</h2>
        <br />
        <table class="table table-dark">
            <tr>
                <td>Full Name</td>
                <td><%= data.name %></td>
            </tr>
            <tr>
                <td>City</td>
                <td><%= data.city %></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><%= data.address %></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><%= data.gender %></td>
            </tr>
            <tr>
                <td>Fee</td>
                <td><%= data.fee %></td>
            </tr>
        </table>
    </div>
</div>